Python version = 3.11.7
Pandas version = 2.2.3
NumPy version = 1.26.4
Matplotlib version = 3.8.0
Seaborn version = 0.13.2
Optuna version = 4.2.1
Statsmodels version = 0.14.0
Scikit-learn version = 1.2.2
TensorFlow version = 2.19.0
Keras version = 3.9.0